.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.names-container {
  margin-left: 25%;
}
.product-container {
  width: 90%;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.product-description {
  padding-right: 4%;
}
.description-container {
  padding-top: 3%;
}

@media (max-width: 860px) {
  .description-container {
    display: none !important;
  }
  .product-container-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-description {
    flex-direction: column;
  }
  .shoes-text {
    flex-direction: column;
  }
  .responsive-text-cantidad::before {
    content: "Cantidad: ";
  }
  .responsive-text-subtotal::before {
    content: "Subtotal: ";
  }
}
